/* Estlos generales */
* {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
a {
   text-decoration: none;
   color: black;
}

p {
   text-decoration: none;
   color: black;
}

body {
   width: 100%;
   background-color: #fafffd;
   overflow-x: hidden;
}

.link_banner {
   text-decoration: none;
}

/* Cards */
.card--size{
   min-height: 450px;
}

ul{
   list-style: none;
}

.container-fluid{
   margin: 0;
   padding: 0;
}