.menu__logo{
    height: 8vh;
    padding: 5px;
}
.menu--margin{
    margin-left: 50px;
}
.menu__titulo{
    margin-left: 20px;
    font-family: 'Lobster', cursive;

    @media screen and (max-width: 1220px) {
        display: none;        
    }
}
.menu__link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
}
.opacity{
    background-color: #c5cbd3;
    opacity: 0.9;
}
 header{
    min-height: 10vh;
 }
 nav{
    min-height: 10vh;
 }

 .carrousel-index{
     height: 90vh;
 }
 .carrousel-index img{
     object-fit: cover;
     width: 100%;
     height: 90vh;
 } 